@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-style: normal;
  src:
    local("Inter"),
    url("./src/assets/fonts/Inter/InterVariable.ttf");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  src:
    local("Inter"),
    url("./src/assets/fonts/Inter/InterVariable-Italic.ttf");
}
